TOKEN=
APP_ID=
USER_ID= # comma-separated, pairs with LASTFM_USERNAME by index: discord_id1,discord_id2
LASTFM_KEY=
LASTFM_USERNAME= # comma-separated, pairs with USER_ID by index: lastfm_user1,lastfm_user2
FALLBACK_ALBUM_IMAGE=
LASTFM_PERIOD=1month # or 7day, 1month, 3month, 6month, 12month
UPDATE_EVERY=10 # minutes